<header class="new-task-container">
</header>
<main>
    <h1>Nova Tarefa</h1>
    <div class="new-task-form">
        <label class="title-task">Tarefa</label>
        <input type="text" placeholder="Tarefa" [(ngModel)]="task"/>
        <label class="title-description">Descrição</label>
        <input type="text" placeholder="Descrição" [(ngModel)]="descriptionTask"/>
        <div class="button">
            <button type="button" class="create-task-button" (click)="createTask()">
                Criar Tarefa
            </button>
        </div>
    </div>
</main>