<header class="new-task-container">
</header>
<main>
    <h1>Nova Tarefa</h1>
    <form class="new-task-form">
        <label class="title-task">Tarefa</label>
        <input type="text" placeholder="Tarefa" />
        <label class="title-description">Descrição</label>
        <input type="text" placeholder="Descrição" />
        <div class="button">
            <button type="submit" class="create-task-button">
                Criar Tarefa
            </button>
        </div>
    </form>
</main>