<header>
  <div class="project-logo">
    <img src="logo_To-Do_white.png" alt="thumbnail_To-Do" />
  </div>
  <h2 class="nameId">Victor lunes #1807</h2>

  <button (click)="openDropdown()">
    <i class="fa-solid fa-list-ul" style="color: #ffffff"></i>
  </button>

  <div class="dropdown" *ngIf="isDropdownOpen">
    <ul>
      <li class="options">
        <a routerLink="/newTask"
          ><i class="fa-solid fa-plus" style="color: #ffffff"></i>Nova Tarefa</a
        >
      </li>
    </ul>
  </div>
</header>
<main>
  <section>
    <h1 class="title">TAREFAS</h1>
  </section>
  <section>
    <div class="task-contents">
      @for (task of tasks; track $index) {
      <div
        class="card-contents"
        (mousedown)="startPress(task)"
      >
        <div class="title-task-card">
          <p>Tarefa:{{ task.task }}</p>
        </div>
        <p class="descriptionTask">{{ task.descriptionTask }}</p>
        <p>Status: {{ task.active }}</p>
        <p class="creation-date-task">
          Criado em: {{ task.creationDate | date : "dd/MM/yyyy HH:mm" }}
        </p>
        <p>
          Última Modificação:
          {{ task.modificationDate | date : "dd/MM/yyyy HH:mm" }}
        </p>
        <div class="dropdown-card" *ngIf="dropdownTask === task">
          <ul>
            <li><a class="text-edition" href="#">Editar</a></li>
            <li><a class="text-edition" href="#">Excluir</a></li>
          </ul>
        </div>
      </div>
      }
    </div>
  </section>
  <footer><p>a</p></footer>
</main>
